@import url(main.css);
@import url(normalize.css);

:root{
    --c-text-color: #ee212b;
    --c-text-color-hover: #8f141a;
}

.contact-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#contact-map{
    max-width: 100%;
}

.contact-address_info{
    display: none;
}

.contact-form_text-title{
    color: white;
}
.contact-form > label{
    color: white;
}

input[type=email], textarea {
    width: 100%;
    border: .15rem solid var(--c-text-color);
    resize: vertical;

    padding: .6rem;
    border-radius: .3rem;
    margin-top: .6rem;
    margin-bottom: 1.2rem;
}
  
input[type=submit] {
    background-color: var(--c-text-color);
    color: white;
    border: none;
    cursor: pointer;

    padding: .8rem 1rem;
    border-radius: .4rem;
}

input[type=submit]:hover {
    background-color: var(--c-text-color-hover);
}



/* MOBILE */
@media (max-width:480px) {
    .contact-info{
        display: block;
    }

    .contact-address_info{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 1rem;
    }
    .contact-form_container{
        text-align: center;
    }
    .contact-form_text-title{
        font-size: 4.25vw;
    }
    .contact-form > label{
        font-size: 3.5vw;
    }
    .contact-address_info > img{
        max-width: 25%;
    }
    .contact-address_info > div > p{
        text-align: center;
        color: white;
        font-size: 2.75vw;
        letter-spacing: .1rem;
    }
    .contact-address_info-details{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact-address_info-details > a{
        color: white;
    }
    .contact-address_info-details > a{
        background-color: var(--c-text-color);
        text-decoration: none;
        margin-top: .6rem;
        padding: .3rem .6rem;
        border-radius: .3rem;
        font-size: 4.5vw;
    }
    .contact-address_info-details > a > i{
        color: white;
        font-size: 5vw;
    }
    .contact-address_info-details > a:hover{
        text-decoration: underline white;
        background-color: var(--c-text-color-hover);
        scale: 110%;
    }

    input[type=email], input[type=submit], select, textarea {
        font-size: 3.5vw;
    }
}

/* TABLET */
@media (min-width:481px) and (max-width:768px) {
    .contact-info{
        column-gap: 2rem;
    }

    .contact-form_container{
        text-align: center;
    }
    .contact-form_text-title{
        font-size: 2.5vw;
    }
    .contact-form > label{
        font-size: 2.25vw;
    }

    input[type=email], input[type=submit], select, textarea {
        font-size: 2vw;
    }
}

/* DESKTOP */
@media (min-width:769px){
    .contact-info{
        column-gap: 4rem;
    }
    
    .contact-form_container{
        text-align: left;
    }
    .contact-form_text-title{
        font-size: 2.5vw;
    }
    .contact-form > label{
        font-size: 1.25rem;
    }

    input[type=email], input[type=submit], select, textarea {
        font-size: 1.2vw;
    }
}