@import url(main.css);
@import url(normalize.css);

:root{
    --c-text-color: #ee212b;
    --c-text-color-hover: #8f141a;
}

.contact-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
}

.contact-address_info{
    display: none;
}

#contact-map{
    max-width: 100%;
}

.contact-form_container{
    text-align: left;
}
.contact-form_text-title{
    color: white;
    font-size: 2vw;
}
.contact-form > label{
    color: white;
    font-size: 1.25rem;
}

input[type=email], select, textarea {
    width: 100%;
    padding: .6rem;
    border: .15rem solid var(--c-text-color);
    border-radius: .2rem;
    margin-top: .6rem;
    margin-bottom: 1.2rem;
    resize: vertical;
}
  
input[type=submit] {
    background-color: var(--c-text-color);
    color: white;
    padding: .8rem 1rem;
    border: none;
    border-radius: .4rem;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: var(--c-text-color-hover);
}

/* TABLET */
@media (max-width:800px) {
    .contact-info{
        column-gap: 2rem;
    }

    .contact-form_text-title{
        font-size: 2.75vw;
    }
    .contact-form > label{
        font-size: 2.25vw;
    }

    input[type=email], input[type=submit], select, textarea {
        font-size: 1.5vw;
    }
}

/* MOBILE */
@media (max-width:400px) {
    .contact-info{
        display: block;
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }

    .contact-address_info{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 1rem;
    }
    .contact-address_info > img{
        max-width: 25%;
    }
    .contact-address_info > a > p{
        color: white;
        font-size: 2.75vw;
        letter-spacing: .1rem;
        text-decoration: underline white;
    }

    .contact-form_text-title{
        font-size: 3.5vw;
    }
    .contact-form > label{
        font-size: 2.75vw;
    }

    input[type=email], input[type=submit], select, textarea {
        font-size: 3vw;
    }
}