:root{
    --main-bg-color: #0d0d0d;
}

.m_body{
    background-color: var(--main-bg-color);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.quote, .room-title{
    font-family: TokyoGeisha;
    letter-spacing: .1rem !important;
}

.section-title{
    display: flex;
    justify-content: center;
    color: var(--ri-text-color);
    letter-spacing: .1rem;
    font-family: TokyoGeisha !important;
}

/* MOBILE */
@media (max-width:480px) {
    .m_body{
        padding: 1.5rem 2rem;
    }
    section{
        margin-bottom: 3.5rem;
    }
    .section-title{
        column-gap: 1rem;
        font-size: 5.5vw;
        margin-bottom: 1rem;
    }
}

/* TABLET */
@media (min-width:481px) and (max-width:768px) {
    .m_body{
        padding: 2rem 4rem;
    }
    section{
        margin-bottom: 5rem;
    }
    .section-title{
        column-gap: 1.5rem;
        font-size: 4.5vw;
        margin-bottom: 1.5rem;
    }
}

/* DESKTOP */
@media (min-width:769px){
    .m_body{
        padding: 2.5rem 8rem;
    }
    
    section{
        margin-bottom: 8rem;
    }
    .section-title{
        column-gap: 2rem;
        font-size: 3.5vw;
        margin-bottom: 2.5rem;
    }
}