@import url(main.css);
@import url(normalize.css);

:root{
    --r-text-color: #ee212b;
}

.restaurant-description{
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
}
.restaurant-text{
    color: white;
    text-align: center;
    letter-spacing: .1rem;
}
.restaurant_simple-quote{
    font-style: italic;
    font-weight: bold;
    letter-spacing: .15rem;
}
.restaurant_main_quote{
    color: var(--r-text-color) !important;
    font-style: italic;
}

.restaurant-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MOBILE */
@media (max-width:480px) {
    .restaurant-description{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        row-gap: 1rem;
    }
    .restaurant-text{
        grid-row: 2/3;

        font-size: 2.75vw;
    }
    .restaurant_simple-quote{
        font-size: 3.25vw;
    }
    .restaurant_main_quote{
        font-size: 3.75vw;
    }

    .restaurant-image{
        grid-row: 1/2;
    }
    .restaurant-image img{
        max-width: 80%;
    }
}

/* TABLET */
@media (min-width:481px) and (max-width:768px) {
    .restaurant-text{
        font-size: 1.5vw;
    }
    .restaurant_simple-quote{
        font-size: 1.75vw;
    }
    .restaurant_main_quote{
        font-size: 2vw;
    }

    .restaurant-image img{
        max-width: 85%;
    }
}

/* DESKTOP */
@media (min-width:769px){
    .restaurant-text{
        font-size: 1.25vw;
    }
    .restaurant_main_quote{
        font-size: 1.5vw;
    }
    .restaurant-image img{
        max-width: 75%;
    }
}