@import url(main.css);
@import url(normalize.css);

:root{
    --ri-text-color: #ee212b;
}

.common_traits-main_quote{
    text-align: center;
    color: var(--ri-text-color);
    font-size: 2vw;
    margin-bottom: 1rem;
}
.common_traits-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: var(--ri-text-color);
    font-size: 1.5vw;
}
.trait{
    border: 3px solid var(--ri-text-color);
    border-radius: 50%;
    background-color: white;
    padding: 1rem;
}

/* ROOMS ORDER */
.column_1-3{ grid-column: 1/3; }
.column_3-5{ grid-column: 3/5; }
.column_5-7{ grid-column: 5/7; }
.column_2-4{ grid-column: 2/4; }
.column_4-6{ grid-column: 4/6; }
.rooms_info-layout{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    column-gap: 2rem;
    row-gap: 2rem;
}
.room{
    text-align: center;
    border: var(--ri-text-color) 2px solid;
    background-color: white;
    padding: 1rem;
}
.room > *{
    margin-bottom: .5rem;
}
.room-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5vw;
}
.room-description{
    font-size: 1.25vw;
}
.room-booking-btn{
    background-color: var(--ri-text-color);
    color: white;
    text-align: center;
    padding: .5rem 1rem;
    letter-spacing: 2px;
}
.room-booking-btn:hover{
    cursor: pointer;
    background-color: #b8171f;
}


/* TABLET */
@media (max-width:800px) {
    .common_traits-main_quote{
        font-size: 2.75vw;
    }
    .common_traits-list{
        font-size: 2.25vw;
    }
    .trait{
        padding: .5rem;
    }    
}

/* MOBILE */
@media (max-width:400px) {
    .common_traits-main-quote{
        font-size: 3.5vw;
    }
    .common_traits-list{
        display: grid;
        grid-template-rows: 2fr;
        row-gap: .5rem;
        column-gap: 1rem;
        text-align: center;
        font-size: 3.5vw;
    }

    .first-grid-row{
        grid-row: 1/2;
    }
    .second-grid-row{
        grid-row: 2/3;
    }

    .rooms_info-layout{
        display: block;
    }
    .rooms_info-title{
        font-size: 5.5vw;
    }

    .room-title{
        font-size: 4.5vw;
    }
    .room-description{
        font-size: 3.5vw;
    }


    @-webkit-keyframes animation{
        from{
            opacity:0; 
            -webkit-transform:scale(1.2) rotateX(45deg);
            transform:scale(1.2) rotateX(45deg);
        } to{ }
    }
    @keyframes animation{
        from{
            opacity:0; 
            -webkit-transform:scale(1.2) rotateX(45deg);
            transform:scale(1.2) rotateX(45deg);
        } to{ }
    }
    
    @-webkit-keyframes animation2{
        from{
            opacity:0; 
            -webkit-transform:scale(1.2) rotateX(45deg);
            transform:scale(1.2) rotateX(45deg);
        } to{ }
    }
    @keyframes animation2{
        from{
            opacity:0; 
            -webkit-transform:scale(1.2) rotateX(45deg);
            transform:scale(1.2) rotateX(45deg);
        } to{ }
    }

    #rooms_slider{
        -webkit-animation:animation ease 1s;
        animation:animation ease 1s;
        animation-fill-mode:backwards;

        margin:auto;
        height:420px;
        max-width:100%;
        top:100px;

        perspective:1000px;
        transition:ease-in-out .2s;
    }

    .room{
        -webkit-user-select:none;
        user-select:none;
        -moz-user-select:none;
        position:absolute;
        height:340px;
        max-width:100%;

        box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.3);
        background:#fcfcfc;
        -webkit-transform-style:preserve-3d;
        transform-style:preserve-3d;
        -moz-transform-style:preserve-3d;
        text-align:center;
        padding: 1rem 1rem 0 1rem;
        box-sizing:border-box;
        border-bottom:55px white solid;
        border-radius:5px;
    }

    .room > .slidershow-container > img{ 
        text-align:center;
        max-width:100%; 
        height:100%; 
        -webkit-user-drag:none;
        -moz-user-drag:none; 
        border-radius:1rem; 
    }

    .room > .room_title{
        font-family:TokyoGeisha; 
        font-size:5vw;
        margin-top:.5rem;
    }

    .transition {
        -webkit-transition: cubic-bezier(0,1.95,.49,.73) .4s ;
        -moz-transition: cubic-bezier(0,1.95,.49,.73) .4s ;
        transition: cubic-bezier(0,1.95,.49,.73) .4s ;
    }
}