@import url(main.css);
@import url(normalize.css);
:root{
    --background-color: #9a0008;
    --font-color: white;
}

.animate-left{
    position:relative;
    animation: animateleft .75s
}
@keyframes animateleft{
    from{left:-300px;opacity:0}
    to{left:0;opacity:1}
}
.animate-right{
    position:relative;
    animation:animateright .75s
}
@keyframes animateright{
    from{right:-300px;opacity:0}
    to{right:0;opacity:1}
}



.services-container{
    max-width: 100%;
    background-color: var(--background-color);
}

.services{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.service{
    display: flex;
    align-items: center;
    color: var(--font-color);
}

.service .service_text{
    font-family: TokyoGeisha;
    letter-spacing: .1rem;
    line-height: 1rem;
    text-align: center;
}

/* MOBILE */
@media (max-width:480px) {
    .services{
        display: block;
        padding: 1rem 2rem;
    }
    .service{
        justify-content: center;
        gap: .75rem;
        margin: 0.5rem;
    }
    .service i{
        font-size: 8vw;
    }
    .service .service_text{
        font-size: 4vw;
    }
}

/* TABLET */
@media (min-width:481px) and (max-width:768px) {
    .services{
        padding: .75rem;
    }
    .service{
        flex-direction: column;
    }
    .service i{
        font-size: 5vw;
    }   
    .service .service_text{
        font-size: 2.25vw;
    }
}

/* DESKTOP */
@media (min-width:769px){
    .services{
        padding: 1.5rem 3rem;
        gap: 2.5rem;
    }
    .service i{
        font-size: 4vw;
    }
    .service .service_text{
        letter-spacing: .15rem;
        line-height: 1.5rem;
        font-size: 1.75vw;
    }    
}