@import url(main.css);
@import url(normalize.css);

:root{
    --ss-text-color: #ee212b;
}

.sex_shop-description{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
}
.sex_shop-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sex_shop-quote{
    text-align: center;
    font-style: italic;
    letter-spacing: .15rem;
    color: var(--ss-text-color);
}
.sex_shop-prod_list{
    text-align: center;
    color: white;
    list-style: none;
    letter-spacing: .1rem;
}
.sex_shop-prod_list li i{
    display: inline;
    vertical-align: middle;
    padding-right: .75rem;
    color: var(--ss-text-color);
    text-shadow: 1px 1px 2px white;
}

/* MOBILE */
@media (max-width:480px) {
    .sex_shop-description{
        display: block;
    }
    .sex_shop-image img{
        max-width: 66%;
    }
    .sex_shop-quote{
        font-size: 3.25vw;
        line-height: .75rem;
        margin-bottom: .75rem;
    }  
    .sex_shop-prod_list{
        font-size: 3vw;
    }
    .sex_shop-prod_list li i{
        font-size: 4.5vw;
    }
}

/* TABLET */
@media (min-width:481px) and (max-width:768px) {
    .sex_shop-image img{
        max-width: 90%;
    }
    .sex_shop-quote{
        font-size: 2vw;
        line-height: 1rem;
        margin-bottom: 1rem;
    }
    .sex_shop-prod_list{
        font-size: 1.5vw;
        letter-spacing: .15rem;
    }
    .sex_shop-prod_list li i{
        font-size: 3.5vw;
    }
}

/* DESKTOP */
@media (min-width:769px){
    .sex_shop-image img{
        max-width: 80%;
    }
    .sex_shop-quote{
        font-size: 1.5vw;
        line-height: 1.5rem;
        margin-bottom: 2rem;
    }
    .sex_shop-prod_list{
        font-size: 1.25vw;
    }
    .sex_shop-prod_list li i{
        font-size: 2.5vw;
    }
}