@import url(main.css);
@import url(normalize.css);

/* ANIMATIONS */
.fade{
    animation-name: fade;
    animation-duration: 2s;
}
@-webkit-keyframes fade{
    from {opacity: .3;}
    to {opacity: 1;}
}
@keyframes fade {
    from {opacity: .3;}
    to {opacity: 1;}
}


.slideshow-container{
    max-width: 100%;
    position: relative;
}
.slides{
    display: none;
}
.slides img{
    width: 100%;
}

.rooms_info-layout > .room > .slideshow-container > .slides img{
    height: 10rem;
}









/* MOBILE */
@media (max-width:480px) {
    #main_slider > .slides img{
        height: 12rem;
    }
}

/* TABLET */
@media (min-width:481px) and (max-width:768px) {
    #main_slider > .slides img{
        height: 18rem;
    }
    .rooms_info-layout > .room > .slideshow-container > .slides img{
        height: 6rem;
    }
}

/* DESKTOP */
@media (min-width:769px){

}